body{
  margin:0;
  padding:0;
}

#grillaIndex {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 11% 1% 80% 10%;
    grid-template-areas: "header"
      "nav"
      "main"
      "footer";
}

#grillaEp {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 100%;
  grid-template-rows: 5% 0.5% 90% 5%;
  grid-template-areas: "header"
    "nav"
    "main"
    "footer";
}

#grillaBp {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 100%;
  grid-template-rows: 3% 0.3% 93% 3.7%;
  grid-template-areas: "header"
    "nav"
    "main"
    "footer";
}
 

#grillaEp1 h3{
  text-align: center;
  margin-bottom: 2%;
  margin-top:2%;
  margin-right: 4.5%;
}


#grillaNav {
  
  display: grid;
  grid-template-columns: 16.66% 16.66% 16.67% 16.66% 16.66% 16.66%;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  font-family: 'Jost', sans-serif;
  padding: 0;
  margin: 0;
}

#navIndex ul{
  display: flex;
  margin: 0;
  padding: 0;
  padding-left: 0;

}

#navIndex li {
  display: inline-block;
  position: relative;
  text-align: center;
  height: 30px;
  
}

#navIndex ul ul{
  display: none;
  position: absolute;
  
}

#navIndex ul li{
  
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: black;
  color: antiquewhite;
  display: inline-block;
  position: relative;
  text-align: left;
  width: 100%;
  align-items: center;
  
 
  
}

#navIndex ul ul li{
  display: block;
  width: 100%;
  background-color: black;
  margin-left: 0%;
  padding-left: 1%;
  
  
}


#navIndex ul li a{
  display:flex;
  color: antiquewhite;
  text-decoration: none;
  justify-content: space-around;
  padding-top: 1.5%;
  
}

#navIndex ul li:hover ul {
  display: block;
  width: 100%;

}

nav li:hover {
  display: block;
  background-color: lightgray;
  color:black;
  
}


#logo{
  align-items: center;
  justify-content: center;
  margin-left:43%;
  height: 200px;
  width: 200px;
}

main{
  background-color: lightgray;
  font-family: 'Jost', sans-serif;
  margin:5px;

}

#indexFooterSb{
  display: flex;
  background-color: black;
}

#indexFooterSb #indexFooter{
  font-family: 'Jost', sans-serif;
  margin-left: 35%;
  margin-top:3.5%;
  color: whitesmoke;
  display: inline;

}

#whatsApp {
  position: fixed;
  right: 15px;
  bottom: 15px;
}

#grillaIndex #contact{
  margin-top: 0;
  margin:1%;
  margin-left:15%;
  width: 30%;
  list-style: none;
}

#grillaIndex #maps #subtitle2{
  margin-top: 2%;
  padding-bottom: 0;
}

#grillaIndex #contact #subtitle2{
  text-align: left;
  padding-top: 0;
  padding-bottom: 1%;
  margin-top: 0;
  margin-bottom: 6%;
  
}

#grillaIndex #maps {
  margin-left: 1%;
  margin-right: 15%;
  padding:1%;
  width:40%;
}

#grillaIndex #contact {
  margin-left: 25%;
  margin-right: 1%;
  padding:1%;
  width:40%;
}

#intro1{
  padding:1%;
}

#intro2 #subtitle2{
  text-align: center;
  margin-bottom: 5%;
}

#intro2{
  padding:1%;
  width:50%;
}

#intro1 #subtitle1{
  text-align: center;
  font-size: 30px;
  margin-top: 2%;
  margin-bottom:3%;

}

#introEp{
  padding:2%;
}

#introEp #subtitleEp{
  font-size: 28px;
}


#landPage{
  display:flex;
}

#landPageTwo{
  display:flex;
  margin-top: 0.5%;
  background: rgb(141,202,227);
background: linear-gradient(205deg, rgba(141,202,227,0.6166841736694677) 0%, rgba(215,221,220,0.8939950980392157) 33%, rgba(200,206,206,0.5662640056022409) 75%, rgba(203,208,208,0.49343487394957986) 100%);
  
}

#landPageTwo #paymentMedia{
  display:flex;
  width:100%;
  padding: 2%;
}

#landPageTwo #deliveryMode{
  display:flex;
  width:100%;
  padding: 2%;
  padding-left: 0;
}

#landPageTwo #paymentD{
  display:inline-block;
  width:100%;
  margin-top: 7%;
  list-style: none;
}

#landPageTwo #paymentD p{
  margin-top: 5%;
}

#landPageTwo #paymentD h3{
  margin-bottom: 10%;
}

#landPageTwo #paymentA{
  display:inline-block;
}

#landPageTwo #deliveryD{
  display:inline-block;
  width:100%;
  margin-top:7%;
}

#landPageTwo #deliveryA{
  display:inline-block;
  width:100%;
}

#landPageThree {
  padding: 2%;
  display: flex;
  border-radius: 2rem;
  background: rgb(185,237,175);
  background: linear-gradient(90deg, rgba(185,237,175,1) 0%, rgba(185,188,189,1) 71%, rgba(158,184,184,1) 100%);


}

#landPageThree #ambientA{
  margin-right: 2%;
   margin-left: 3%;
}

#carousel{
  width:100%;
}

#grillaEp1 button{
  margin-left: 5%;
  margin-right: 8%;
}

#grillaIndex #carouselExampleControls {
  margin-top: 0;
  margin-right: 15px;
  margin-left: 15px;
}

#grillaEp #carouselExampleControls1 {
  margin-top: 0;
  margin-right: 15px;
  margin-left: 15px;
  display: flex;
}

#grillaEp #carouselExampleControls2 {
  margin-top: 0;
  margin-right: 15px;
  margin-left: 15px;
  display: flex;
}

#grillaEp #carouselExampleControls1 img{
  width:62%;
  margin-left:18%;
  margin-bottom: 3%;
}

#grillaEp #carouselExampleControls2 img{
  width:62%;
  margin-left:18%;
  margin-bottom: 3%;
}

#grillaEp #carouselExampleControls3 {
  margin-top: 0;
  margin-right: 15px;
  margin-left: 15px;
  display: flex;
}

#grillaEp #carouselExampleControls3 img{
  width:62%;
  margin-left:18%;
  margin-bottom: 3%;
}

#grillaEp #carouselExampleControls4 {
  margin-top: 0;
  margin-right: 15px;
  margin-left: 15px;
  display: flex;
}

#grillaEp #carouselExampleControls4 img{
  width:62%;
  margin-left:18%;
  margin-bottom: 3%;
}

#grillaEp #carouselExampleControls5 {
  margin-top: 0;
  margin-right: 15px;
  margin-left: 15px;
  display: flex;
}

#grillaEp #carouselExampleControls5 img{
  width:62%;
  margin-left:18%;
  margin-bottom: 3%;
}

#grillaEp #carouselExampleControls6 {
  margin-top: 0;
  margin-right: 15px;
  margin-left: 15px;
  display: flex;
}

#grillaEp #carouselExampleControls6 img{
  width:62%;
  margin-left:18%;
  margin-bottom: 3%;
}

#grillaEp #carouselExampleControls7 {
  margin-top: 0;
  margin-right: 15px;
  margin-left: 15px;
  display: flex;
}

#grillaEp #carouselExampleControls7 img{
  width:62%;
  margin-left:18%;
  margin-bottom: 3%;
}

#grillaBp #carouselExampleControls1 img{
  width:62%;
  margin-left:18%;
  margin-bottom: 3%;
}


#grillaBp #carouselExampleControls2 img{
  width:62%;
  margin-left:18%;
  margin-bottom: 3%;
}

#grillaBp #carouselExampleControls3 img{
  width:62%;
  margin-left:18%;
  margin-bottom: 3%;
}

#grillaBp #carouselExampleControls4 img{
  width:62%;
  margin-left:18%;
  margin-bottom: 3%;
}

#grillaBp #carouselExampleControls5 img{
  width:62%;
  margin-left:18%;
  margin-bottom: 3%;
}

#grillaBp #carouselExampleControls6 img{
  width:62%;
  margin-left:18%;
  margin-bottom: 3%;
}

#grillaBp #carouselExampleControls7 img{
  width:62%;
  margin-left:18%;
  margin-bottom: 3%;
}

#grillaBp #carouselExampleControls8 img{
  width:62%;
  margin-left:18%;
  margin-bottom: 3%;
}

#grillaBp #carouselExampleControls9 img{
  width:62%;
  margin-left:18%;
  margin-bottom: 3%;
}

#grillaBp #carouselExampleControls1 {
  margin-top: 0;
  margin-right: 15px;
  margin-left: 15px;
  display: flex;
}

#grillaBp #carouselExampleControls2 {
  margin-top: 0;
  margin-right: 15px;
  margin-left: 15px;
  display: flex;
}

#grillaBp #carouselExampleControls3 {
  margin-top: 0;
  margin-right: 15px;
  margin-left: 15px;
  display: flex;
}

#grillaBp #carouselExampleControls4{
  margin-top: 0;
  margin-right: 15px;
  margin-left: 15px;
  display: flex;
}

#grillaBp #carouselExampleControls5 {
  margin-top: 0;
  margin-right: 15px;
  margin-left: 15px;
  display: flex;
}

#grillaBp #carouselExampleControls6 {
  margin-top: 0;
  margin-right: 15px;
  margin-left: 15px;
  display: flex;
}

#grillaBp #carouselExampleControls7 {
  margin-top: 0;
  margin-right: 15px;
  margin-left: 15px;
  display: flex;
}

#grillaBp #carouselExampleControls8 {
  margin-top: 0;
  margin-right: 15px;
  margin-left: 15px;
  display: flex;
}

#grillaBp #carouselExampleControls9 {
  margin-top: 0;
  margin-right: 15px;
  margin-left: 15px;
  display: flex;
}












