body{
  margin:0;
  padding:0;
}

#grillaIndex {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 17% 2.5% 90% 17%;
    grid-template-areas: "header"
      "nav"
      "main"
      "footer";
}

#grillaEp {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 100%;
  grid-template-rows: 5% 0.5% 90% 5%;
  grid-template-areas: "header"
    "nav"
    "main"
    "footer";
}
 

#grillaEp1 h3{
  text-align: center;
  margin-bottom: 2%;
  margin-top:2%;
  margin-right: 4.5%;
}


#grillaNav {
  
  display: grid;
  grid-template-columns: 16.66% 16.66% 16.67% 16.66% 16.66% 16.66%;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  font-family: 'Jost', sans-serif;
  padding: 0;
  margin: 0;
}

#navIndex ul{
  display: flex;
  margin: 0;
  padding: 0;
  padding-left: 0;

}

#navIndex li {
  display: inline-block;
  position: relative;
  text-align: center;
  height: 30px;
  
}

#navIndex ul ul{
  display: none;
  position: absolute;
  
}

#navIndex ul li{
  
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: black;
  color: antiquewhite;
  display: inline-block;
  position: relative;
  text-align: left;
  width: 100%;
  align-items: center;
  
 
  
}

#navIndex ul ul li{
  display: block;
  width: 100%;
  background-color: black;
  margin-left: 0%;
  padding-left: 1%;
  
  
}


#navIndex ul li a{
  display:flex;
  color: antiquewhite;
  text-decoration: none;
  justify-content: space-around;
  padding-top: 1.5%;
  
}

#navIndex ul li:hover ul {
  display: block;
  width: 100%;

}

nav li:hover {
  display: block;
  background-color: lightgray;
  color:black;
  
}


#logo{
  align-items: center;
  justify-content: center;
  margin-left:43%;
  height: 200px;
  width: 200px;
}

main{
  background-color: lightgray;
  font-family: 'Jost', sans-serif;
  margin:5px;

}

#indexFooterSb{
  display: flex;
  background-color: black;
}

#indexFooterSb #indexFooter{
  font-family: 'Jost', sans-serif;
  margin-left: 35%;
  margin-top:3.5%;
  color: whitesmoke;
  display: inline;

}

#whatsApp {
  position: fixed;
  right: 15px;
  bottom: 15px;
}

#intro1{
  padding:1%;
}

#intro2 #subtitle2{
  text-align: center;
  margin-bottom: 5%;
}

#intro2{
  padding:1%;
  width:50%;
}

#intro1 #subtitle1{
  text-align: center;
  font-size: 30px;
  margin-top: 2%;
  margin-bottom:3%;

}

#introEp{
  padding:2%;
}

#introEp #subtitleEp{
  font-size: 28px;
}


#landPage{
  display:flex;
}

#landPageTwo{
  display:flex;
  margin-top: 3%;
}

#landPageTwo #paymentMedia{
  display:flex;
  width:100%;
  padding: 2%;
 
  
}

#landPageTwo #deliveryMode{
  display:flex;
  width:100%;
  padding: 2%;
  padding-left: 0;
}

#landPageTwo #paymentD{
  display:inline-block;
  width:100%;
  margin-top: 7%;
  list-style: none;
}

#landPageTwo #paymentD p{
  margin-top: 5%;
}

#landPageTwo #paymentD h3{
  margin-bottom: 10%;
}

#landPageTwo #paymentA{
  display:inline-block;
}

#landPageTwo #deliveryD{
  display:inline-block;
  width:100%;
  margin-top:7%;
}

#landPageTwo #deliveryA{
  display:inline-block;
  width:100%;

}

#carousel{
  width:100%;
}

#grillaEp1 button{
  margin-left: 5%;
  margin-right: 8%;
}

#grillaIndex #carouselExampleControls {
  margin-top: 0;
  margin-right: 15px;
  margin-left: 15px;
}

#grillaEp #carouselExampleControls1 {
  margin-top: 0;
  margin-right: 15px;
  margin-left: 15px;
  display: flex;
}

#grillaEp #carouselExampleControls2 {
  margin-top: 0;
  margin-right: 15px;
  margin-left: 15px;
  display: flex;
}

#grillaEp #carouselExampleControls1 img{
  width:62%;
  margin-left:18%;
  margin-bottom: 3%;
}

#grillaEp #carouselExampleControls2 img{
  width:62%;
  margin-left:18%;
  margin-bottom: 3%;
}

#grillaEp #carouselExampleControls3 {
  margin-top: 0;
  margin-right: 15px;
  margin-left: 15px;
  display: flex;
}

#grillaEp #carouselExampleControls3 img{
  width:62%;
  margin-left:18%;
  margin-bottom: 3%;
}

#grillaEp #carouselExampleControls4 {
  margin-top: 0;
  margin-right: 15px;
  margin-left: 15px;
  display: flex;
}

#grillaEp #carouselExampleControls4 img{
  width:62%;
  margin-left:18%;
  margin-bottom: 3%;
}

#grillaEp #carouselExampleControls5 {
  margin-top: 0;
  margin-right: 15px;
  margin-left: 15px;
  display: flex;
}

#grillaEp #carouselExampleControls5 img{
  width:62%;
  margin-left:18%;
  margin-bottom: 3%;
}

#grillaEp #carouselExampleControls6 {
  margin-top: 0;
  margin-right: 15px;
  margin-left: 15px;
  display: flex;
}

#grillaEp #carouselExampleControls6 img{
  width:62%;
  margin-left:18%;
  margin-bottom: 3%;
}












